.Home {
    width:100%;
    height:100%;
}
.tech {
    position: absolute;
    width:50%;
    height:78%;
    background-color:black;
    left: 0px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows:  30% 55%;
    letter-spacing: 1px;
}


.title{
    grid-row: 2;
    font-family: 'Allan', cursive;;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color:#F2F2F2; 
}
.figure
{
    vertical-align:-10%;
}
.enter{
    grid-row:3;
    font-family: 'Aldrich', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #F2F2F2;
}