/*  src/Title.css  */
.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: left;
    background-color:black;
    color: #fff;
  }