

.SecondExample
{
    width: 100%;

    .Project
    {
        position: relative;
        height: 300px;
        overflow: hidden;
        padding: 20px;

        *
        {
            color: white;
        }

        .CheckButton
        {
            

            // transition: 200ms;
        }
    }
}
#banner {
    display: block;
  }
  
  .inline-block {
    display: inline-block;
    max-width: 20%;
    margin: 0 2.5%;
  }